<% include share/header.html%>
<% include share/navbar.html%>
<div class="ta-container">
	<div class="panel panel-default">
  		<div class="panel-heading">
  	  		<h3 class="panel-title">创建  直接访问型API</h3>
  		</div>
 		<div class="panel-body">
 		<form role="form" method="post" action="/action/addReLink">
   	 	 	<div class="control-group">
          		<label>请求的Action</label>
            	<input name="name" type="text" class="form-control" placeholder="eg: 'getGoodsList'" required="required" maxlength="200">
        	</div>
        	<br>
        	<div class="control-group">
          		<label>目标Url</label>
            	<input name="relinkaction" type="text" class="form-control" placeholder="eg: 'http://client-api.dev.hogesoft.com:233/content/358222'" required="required" maxlength="200">
        	</div>
        	<br>
			<div class="control-group">
	  			<label>调整的内容(JSON格式, 对象内的属性将一一替换请求结果的JSON数据,并返回)</label> 
  				<textarea name="result" class="form-control" rows="15" placeholder="eg: '{username : 'dddd'}'" required="required"></textarea>
			</div>
			<br> 
			<button class="btn btn-primary btn-lg" type="submit">
			<span class="glyphicon glyphicon-ok"></span> 添加</button>
			<% include share/error_tag.html %> 
		</form>
  		</div>
	</div>
</div>
<% include share/footer.html%>
