<% include share/header.html%>
<% include share/navbar.html%>
<div class="ta-container">
<div class="panel panel-default">
  <div class="panel-heading">Document</div>
  <div class="box1">
  	<div class="media-body">
    	<h2 class="media-heading">直接访问型API</h2>
    	<p>定义Action, 例如  getMyInfo,</p>
    	<p>则访问的接口为  http://${host}:${port}/action/${username}/getMyInfo</p>
    	<p>然后将输入的结果直接返回给你</p>
    	<hr>
    	<h2 class="media-heading">动态跳转型API</h2>
    	<p>xxx</p>
 	</div>
  </div>
<div>
<% include share/footer.html%>
